@if $use-justMe == true {
    /* Effect 12:  Just me */
    .#{$global-ns}-justMe .#{$global-ns}-content {
        @include transform-prefix(scale(0.8));
        @include transition-prefix(all 0.3s);
        opacity: 0;
    }

    .#{$global-ns}-show.#{$global-ns}-justMe ~ .#{$global-ns}-overlay {
        background: $content-bg;
    }

    .#{$global-ns}-justMe .#{$global-ns}-content h3,
    .#{$global-ns}-justMe .#{$global-ns}-content {
        background: transparent;
    }

    .#{$global-ns}-show.#{$global-ns}-justMe .#{$global-ns}-content {
        @include transform-prefix(scale(1));
        opacity: 1;
    }
}