/* General styles for the modal */

/*
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the
perspective effects (not including the modals and the overlay).
*/

.#{$global-ns}-perspective {
    height: 100%;
    overflow: hidden;

    body {
        @extend .#{$global-ns}-perspective;
        perspective: $perspective-body;
        background: $perspective-body-bg;
    }
}

.#{$global-ns}-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: $modal-max-width;
    min-width: $modal-max-height;
    width: $modal-width;
    height: auto;
    z-index: $modal-zindex;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);

    &.#{$global-ns}-show {
        visibility: visible;

        &~ .#{$global-ns}-overlay {
            opacity: $overlay-opacity;
            visibility: visible;
        }
    }

    .#{$global-ns}-content {
        color: $content-text-color;
        background: $content-bg;
        position: relative;
        border-radius: $content-border-radius;
        margin: 0 auto;

        @import 'modal-content';
    }
}


.#{$global-ns}-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: $overlay-zindex;
    opacity: 0;
    background: $overlay-bg;
    transition: $overlay-transition;
}

@media screen and (max-width: 32em) {
    body { font-size: 75%; }
}