@if $use-3dVerticalFlip == true {
    /* Effect 9: 3D flip vertical */
    .#{$global-ns}-3dVerticalFlip {

        &.#{$global-ns}-modal {
            perspective: 1300px;
        }

        .#{$global-ns}-content {
            transform-style: preserve-3d;
            transform: rotateX(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }
    }


    .#{$global-ns}-show.#{$global-ns}-3dVerticalFlip .#{$global-ns}-content {
        transform: rotateX(0deg);
        opacity: 1;
    }
}