@if $use-justMe == true {
    /* Effect 12:  Just me */
    .#{$global-ns}-justMe {
        .#{$global-ns}-content {
            transform: scale(0.8);
            transition: all 0.3s;
            opacity: 0;
            background: transparent;

            h3 {
                background: transparent;
            }
        }
    }

    .#{$global-ns}-show {
        &.#{$global-ns}-justMe {
            ~ .#{$global-ns}-overlay {
                background: $content-bg;
            }
            .#{$global-ns}-content {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

}