@if $use-newspaper == true {
    /* Effect 4: Newspaper */
    .#{$global-ns}-newspaper .#{$global-ns}-content {
        transform: scale(0) rotate(720deg);
        opacity: 0;
    }

    .#{$global-ns}-show.#{$global-ns}-newspaper ~ .#{$global-ns}-overlay,
    .#{$global-ns}-newspaper .#{$global-ns}-content {
        transition: all 0.5s;
    }

    .#{$global-ns}-show.#{$global-ns}-newspaper .#{$global-ns}-content {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
}