@if $use-slideInFromRight == true {
    /* Effect 2: Slide from the right */
    .#{$global-ns}-slideInFromRight .#{$global-ns}-content {
        transform: translateX(20%);
        transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
        opacity: 0;
    }

    .#{$global-ns}-show.#{$global-ns}-slideInFromRight .#{$global-ns}-content {
        transform: translateX(0);
        opacity: 1;
    }
}