@if $use-superScaled == true {
    /* Effect 11: Super scaled */
    .#{$global-ns}-superScaled .#{$global-ns}-content {
        transform: scale(2);
        transition: all 0.3s;
        opacity: 0;
    }

    .#{$global-ns}-show.#{$global-ns}-superScaled .#{$global-ns}-content {
        transform: scale(1);
        opacity: 1;
    }
}